body{
    background-color: #fceab6;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

.row1{
    background-color: #cfe0fa;
}
.row2{
    background-color: #b0cbf5;
}
.row3{
    background-color: #82aced;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }